<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="coreAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/home/core/core2.log</file>
		<append>true</append>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>core2.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- Application Loggers -->
	<logger name="coreLogger">
		<appender-ref ref="coreAppender" level="INFO" additivity="false" />
		<appender-ref ref="console" />
	</logger>

	<root level="INFO">
		<appender-ref ref="coreAppender" />
	</root>
</configuration> 